*/*.fasta
*/*.idx
*/*.txt
data/
doc/date.txt
doc/fp.tex
doc/qDat.tex
doc/qSim.tex
doc/qsDat.tex
doc/qsSim.tex
doc/sure.aux
doc/sure.bbl
doc/sure.blg
doc/sure.dvi
doc/sure.log
doc/sure.pdf
doc/sure.ps
doc/sure.toc
doc/texput.log
doc/version.txt
qDat/*.blast
qDat/README.md
qDat/chr21.cm
qDat/chr21.dat
qDat/chr21.fna
qDat/chr21.map
qDat/chr21_gm.dat
qDat/chr21r.fna
qDat/chr21.n*
qDat/chr21_1.map
qDat/hs.fna
qDat/hs.gff
qDat/ncbi_dataset.zip
qDat/ncbi_dataset/
qDat/param.sh
qDat/test/
qDat/u.blast
qDat/u.tex
qDat/wrapU.aux
qDat/wrapU.dvi
qDat/wrapU.log
qDat/wrapU.pdf
qDat/wrapU.ps
qDat/wrapU.tex
qsDat/*.zip
qsDat/README.md
qsDat/all*
qsDat/fur.db
qsDat/hs.fna
qsDat/hs.gff
qsDat/ncbi_dataset/
qsDat/ndata*
qsDat/neidb*
qsDat/neighbors
qsDat/sortSeq.sh
qsDat/targets
qsDat/tdata
scripts/*.awk
scripts/*.sh